body,div{
    margin: 0;
    padding: 0;
}

body{
    background-color: #fff;
}

div {
    position: absolute;
    width: 52px;
    height: 18px;
    border-top: 4px solid #f00;
    border-left: 4px solid #e00;
    border-bottom: 4px solid #b00;
    border-right: 4px solid #c00;
    background-color: #d00;
    z-index: 1;
}

#roof{
    top: 4px;
    left: 10px;
    width: 500px;
    height: 50px;
    border-top: 0 solid #fc0;
    border-left: 129px solid #fff;
    border-bottom: 100px solid #575;
    border-right: 129px solid #fff;
    background-color: #fff;
}

#roof2{
    top: 14px;
    left: 73px;
    width: 374px;
    height: 40px;
    border-top: 0 solid #fc0;
    border-left: 129px solid #fff;
    border-bottom: 50px solid #686;
    border-right: 129px solid #fff;
    background-color: #fff;
    z-index: 2;
}

.z3{
    z-index: 3;
}

.w22{
    width: 22px;
}
.w232{
    width: 232px;
}
.w172{
    width: 172px;
}
.t8{
    top: 8px;
}
.t34{
    top: 34px;
}
.t60{
    top: 60px;
}
.t154{
    top: 154px;
}
.t180{
    top: 180px;
}
.t206{
    top: 206px;
}
.t232{
    top: 232px;
}
.t258{
    top: 258px;
}
.t284{
    top: 284px;
}
.t310{
    top: 310px;
}
.t336{
    top: 336px;
}
.t362{
    top: 362px;
}
.t388{
    top: 388px;
}
.t414{
    top: 414px;
}
.t440{
    top: 440px;
}
.t466{
    top: 466px;
}
.l30{
    left: 30px;
}
.l60{
    left: 60px;
}
.l90{
    left: 90px;
}
.l120{
    left: 120px;
}
.l150{
    left: 150px;
}
.l180{
    left: 180px;
}
.l210{
    left: 210px;
 }
.l240{
    left: 240px;
}
.l270{
    left: 270px;
}
.l300{
    left: 300px;
}
.l360{
    left: 360px;
}
.l420{
    left: 420px;
}
.l480{
    left: 480px;
}
.l510{
    left: 510px;
}
.l540{
    left: 540px;
}
.l570{
    left: 570px;
}
.l600{
    left: 600px;
}
.l630{
    left: 630px;
}
.l660{
    left: 660px;
}
.l690{
    left: 690px;
}
.l720{
    left: 720px;
}